[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = plonetheme.bootstrap
package-extras = [test]

extensions = mr.developer
auto-checkout = *

[code-analysis]
directory = plonetheme

[sources]

[versions]
# robotframework-selenium2library 1.1.0 requires 'docutils>=0.8.1'
docutils = 0.10


# use bugfix version of selenium2 for newer versions of firefox
selenium = 2.43.0
